/*
    Contributors:
    Aramis Hahne
    Andrew Webster
    Michael Hoff
    PJ Dadson
    And probably everyone else.
 */

/* CSS Reset */
body,
header,
nav,
main,
footer,
h1,
div,
img,
figure {
   margin: 0;
   padding: 0;
   border: 0;
}

/* Mobile viewport (mobile-first) */

/* Header Stylings */
.tablet-desktop-header {
   display: none;
}

.nav-bg {
   background: #220F2E;
}

header {
   text-align: center;
   background-image: linear-gradient(to right, #F5F5F5, #AAAAAA);
   width: 100%;
}

header .grid-col2 {
   display: grid;
   grid-template-columns: auto auto;
   grid-gap: 20px;
}

header a {
   color: black;
   margin: auto;
}

header img {
   max-height: 100px;
   margin: auto 20px;
}

header a:hover,
a:visited {
   text-decoration: none;
}

main {
   min-height: 300px;
   background-color: #F5F5F5;
}

/* For when the divs aren't aligning just right */
#container {
   background-color: #F5F5F5;
}

/* Styling for index top image */
.top-image {
   position: relative;
   width: 100%;
   overflow: hidden;
}

.top-image img {
   object-fit: contain;
}

/* Used for the red box grid at bottom of index */
.grid {
   display: grid;
   grid-template-columns: auto auto auto;
   grid-gap: 20px;
}

.grid:nth-child(even) {
   background-color: #AAAAAA;
}

/* Used for boxes in index, and some other areas */
.content-box {
   text-align: center;
   font-family: 'Cabin', sans-serif;
   font-size: 1.2em;
   padding: 3%;
   box-shadow: 5px 5px 8px #000;
   box-sizing: border-box;
   border-radius: 0 1px;
   margin: 4%;
}

.content-box img {
   max-height: 100%;
   max-width: 100%;
   object-fit: contain;
}

.content-box a {
   color: black;
}

/* Variety of background colors to add */
.bg-yellow {
   background-color: #FFFD77;
   color: black;
}

.bg-lavender {
   background-color: #CBC3E3;
   color: black;
}

.bg-red {
   background-color: #ED1C24;
   color: black;
}

.bg-purple {
   background-color: #220F2E;
   color: #F5F5F5;
}

.article-aside {
   display: flex;
}

article {
   width: 77%;
}

aside {
   width: 22%;
   margin-top: 35px;
}

#about-team {
   text-align: center;
}

#about-team img {
   max-height: 128px;
   max-width: 128px;
   border: 3px solid #220F2E;
   margin: 5px auto;
}

#about-team ul {
   display: block;
   list-style: none;
   margin: 0;
   padding: 0;
}

#about-team li {
   margin: auto 20px;
}

#index-basic-info {
   display: block;
   padding: 2%;
   margin: 2% 10%;
   width: 80%;
   background-color: #eeeeee;
   text-align: center;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-weight: bold;

}

.frame {
   position: relative;
   max-width: 450px;
   margin: 2% auto;
   border: 5px solid #220F2E;
}

.frame:hover {
   transform: scale(1.25);
}

.pic-text {
   position: absolute;
   bottom: 0;
   background: rgba(0, 0, 0, 0.5);
   color: #fff;
   width: 100%;
   padding: 10px;
   text-align: center;
   font-size: 1.2em;
   font-family: Verdana, Arial, sans-serif;
   font-weight: bold;
}

.contact-us {
   display: block;
   text-align: center;
   background: #CBC3E3;
   padding: 2%;
}

.map-section {
   padding: 4%;
   border: solid 4px #220F2E;
   text-align: center;
}

.map-section h2 {
   font-family: 'Kalam', cursive;
   font-weight: bold;
}

.map {
   margin: 2%;
   border: solid 2px #220F2E;
   max-height: 100%;
   max-width: 100%;
}

.contact-btn {
   padding: 2%;
   margin: 3% auto;
   text-align: center;
   border-radius: 5px;
   width: 80%;
}

.contact-btn a {
   color: #F5F5F5;
   font-weight: bold;
   font-size: 2em;
   text-decoration: none;
}

.contact-btn a:hover {
   text-decoration: none;
   color: #F5F5F5;
}

.pet-story {
   font-size: 1.3em;
}

.pet-story img {
   object-fit: cover;
   border: solid 5px #ED1C24;
}

section {
   font-family: 'Cabin', sans-serif;
}

#dingo p,
#louis p,
#daisy p {
   display: none;
}

.video-block {
   padding: 2%;
   margin: 1% auto;

}

#vid {
   display: none;
   text-align: center;
   padding: 4%;
}

.stats-expl {
   width: 22%;
   color: #F5F5F5;
   font-size: 1.3em;
   font-weight: bold;
}

#care-info {
   text-align: center;
   margin: 1%;
   font-family: 'Marcellus', serif;
}

.table-container {
   width: 76%;
}

table {
   border: 3px solid #000;
   border-collapse: collapse;
   margin: 4% auto;
   width: 75%;
   box-shadow: 5px 5px 8px #000;
   box-sizing: border-box;
   border-radius: 0 1px;
}

caption {
   text-align: center;
   caption-side: top;
   font-size: 1.5em;
   font-weight: bold;
   padding: 1%;
}

th,
td {
   border: 1px solid #000;
   padding: 2%;
   text-align: center;
}

th {
   background-color: #429EB3;
   color: #F5F5F5;
   font-size: 1.15em;
}

tr:nth-child(odd) {
   background-color: #ADD8E6;
}


/* Styling for Adpotions Page in mobile*/
.container-fluid {
   display: none;
}

.adoptionListItem h5,
h3 {
   text-align: center;
   font-weight: bold;
}

.adoptionListItem p {
   padding-left: 10px;
}

.container-fluid h3,
h5 {
   text-align: center;
   font-family: 'Cabin', sans-serif;
   font-weight: bold;
   font-size: 4em;
}

.staticPetList img {
   border: 5px solid #555;
   border-radius: 25px;
}

/*Styling Rules For Donations In Mobile*/

.no-shadow {
   box-shadow: none;
}

.display-hidden {
   display: none;
}

.image-column {
   display: none;
}

.content-column {
   width: auto;
}

.donation-image {
   box-shadow: 5px 5px 8px #000;
   margin-left: auto;
   margin-right: auto;
}

form {
   text-align: left;
}

/* Styling for Andrew's Portfolio Page in mobile*/

.andrew-portfolioh2 h2 {
   text-align: center;
   font-size: 5em;
   font-family: 'Oswald', sans-serif;
   color: #220F2E;
   width: 100%;
}

.andrew-image-container img {
   max-width: 100%;
   height: auto;
   border-radius: 15px;
   border: 10px solid teal;
}

/* Styling for footer */
footer {
   position: static;
   left: 0;
   bottom: 0;
   width: 100%;
   background: linear-gradient(to bottom right, #F5F5F5, #429EB3);
   color: #220F2E;
   text-align: left;
   padding: 10px;
}

footer a {
   color: #220F2E;
}

.footer-container h2 {
   padding-top: 1px;
   text-align: Center;
}

.footer-container p {
   text-align: center;
}

.list-inline {
   padding-left: 20px;
   list-style: none;
   flex-wrap: nowrap;
   justify-content: center;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(2, 1fr);
   grid-gap: 5px;
   padding-right: 40px;
}

.nav-bg {
   background: #220F2E;
}

.list-inline li {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #F5F5F5;
   border-radius: 10px;
   padding: 10px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.pet-story {
   display: block;
   margin-bottom: 20px;
   background-color: #FFFD77;
}

.pet-story img {
   max-height: 600px;
   max-width: 600px;
   margin: 3%;
}

.adopt-btn {
   display: inline-block;
   background-color: #008080;
   color: #fff;
   padding: 10px 20px;
   text-decoration: none;
   font-weight: bold;
   border-radius: 4px;
}

.adopt-btn:hover {
   background-color: #006666;
}

 #aramis-grid {
   display: grid;
   grid-template-columns: 10% 79% 10%;
 }

 #aramis-left {
   background: linear-gradient(to right, #F5F5F5, #FFFD77);
   border-right: solid 5px #220F2E;
 }

 #aramis-center {
   text-align: center;
   margin: 2%;
 }

 #aramis-right {
   background: linear-gradient(to right, #FFFD77, #F5F5F5);
   border-left: solid 5px #220F2E;
 }

 #aramis-port-header {
   padding: 5%;
   padding-bottom: 2%;
   margin: 0 auto;
   width: 70%;
   font-family: 'Neucha', cursive;
   text-align: center;
   font-size: 5em;
 }

 .aramis-frame {
   position: relative;
   max-width: 450px;
   height: 100%;
   margin: 2% auto;
   border: 5px solid #220F2E;
 }

 .aramis-frame img {
   max-width: 100%;
   max-height: 100%;
 }

/* End of styling for footer /*

/* Show and hide for media queries */
/* DO NOT PUT ANYTHING BELOW THIS LINE PLS (that isn't inside the media query obvs) :) */

.tablet-desktop-header {
   display: none;
}

.tablet-desktop {
   display: none;
}

/* Styles for tablet viewport only */
@media screen and (min-width: 768px) {

   header {
      text-align: left;
   }

   header img {
      max-height: 150px;
   }

   footer {
      position: static;
      left: 0;
      bottom: 0;
      width: 100%;
      background: linear-gradient(to bottom right, #F5F5F5, #429EB3);
      color: #220F2E;
      text-align: center;
      padding: 10px;
   }

   .footer-container h2 {
      padding-top: 1px;
      text-align: center;
   }

   .footer-container p {
      text-align: center;
   }

   .list-inline {
      list-style: none;
      display: flex;
      flex-wrap: nowrap;
      padding-right: 30px;
      justify-content: center;
   }

   .list-inline li {
      margin-right: 15px;
      transition: transform 0.3s ease-in-out;
   }

   .list-inline li:hover {
      transform: scale(1.4);
   }

   .contact-img {
      text-align: center;
   }

   .contact-img img {
      text-align: center;
      margin: 2%;
      border: solid 5px #220F2E;
   }

   .contact-info {
      display: block;
      text-align: center;
      padding: 2%;
   }

   .mobile {
      display: none;
   }

   .tablet-desktop {
      display: block;
   }

   .mobile-header {
      display: none;
   }

   .tablet-desktop-header {
      display: block;
      margin: auto;
   }

   .desktop {
      display: none;
   }

   /* Style Rules for Adoptions Page in desktop*/
   #carouselSidebar {
      margin: 0 auto;
      /* centers the carousel */
      width: 50%;
      /* adjust as needed */
   }

   .container-fluid {
      display: block;
   }

   .staticPetList {
      display: none;
   }

   .carousel-caption {
      position: absolute;
      top: 0;
      width: 33.33%;
      background-color: rgba(0, 0, 0, 0.5);
      /* add a semi-transparent background */
      color: #fff;
      /* set the text color to white */
      padding: 1.25rem;
      text-align: left;
      transform: translateX(450px);
   }

   .carousel-caption ul {
      text-align: left;
   }

   .container-fluid img {
      border: 5px solid #555;
      border-radius: 25px;
   }

   .pet-story {
      display: flex;
   }

   /*Styling Rules For Donations In Tablet*/

   .image-column {
      display: block;
      width: 50%;
   }

   .content-column {
      display: block;
      width: 50%;
   }

<<<<<<< HEAD
   /* Styling for Andrew's Portfolio Page in tablet*/

   .andrew-portfolioh2 h2 {
      text-align: center;
      padding-left: 30px;
      font-size: 7em;
      font-family: 'Oswald', sans-serif;
      color: #220F2E;
   }

   .andrew-portfolio {
      display: flex;
      flex-wrap: nowrap;
      width: 100%;
      background-color: #CBC3E3;
   }

   .left-column {
      flex: 1;
      background-color: lightpurple;
      padding: 20px;
      padding-top: 100px;
      padding-right: 10px;
   }

   .left-column ul {
      line-height: 200%;
      font-size: 1.3em;
   }

   .right-column {
      flex: 1;
      padding: 20px;
   }

   .andrew-image-container {
      text-align: right;
      width: 100%;
      padding-top: 50px;
      padding-left: 20px;
   }

   .andrew-image-container img {
      max-width: 100%;
      height: auto;
      border-radius: 15px;
      border: 10px solid teal;
   }

   .andrewSocialMedia {
      padding-top: 50px;
      line-height: 100px;
   }

   .andrewSocialMedia ul {
      padding-top: 50px;
      line-height: 100px;
   }

   /* For some reason, this breaks the styling - commenting it out for now */
   /* .pet-story {
      flex-direction: column;
      background-color: #FFFD77;
    }
  
  
    .story-details {
      margin-bottom: 20px;
      background-color: #FFFD77;
    } */

=======
>>>>>>> 980b10d2f3e79d4c6beab2e198816fb4865f1334
}

/* Styles for Desktop viewport only */
@media (min-width: 1200px) {

   .contact-img {
      width: 50%;
   }

   .contact-img img {
      max-width: 100%;
      max-height: 100%;
   }

   .contact-us {
      display: flex;
   }

   .contact-info {
      text-align: left;
      padding-left: 2%;
      width: 48%;
   }

   .desktop {
      display: block;
   }

   .tablet {
      display: none;
   }

}

/* These rules will apply to all */
/* Not the way it's supposed to be done, but it's here now */

@media screen and (max-width: 768px) {}